.rev-corousel-wrapper{
    display: flex;
    overflow: scroll;
    gap: 45px;
}
.rev-corousel{
    display: flex;
    overflow: hidden;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    overflow: auto;
}
.rev-carousel-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.rev-carousel-btn-prev {
  left: 10px;
}

.rev-carousel-btn-next {
  right: 10px;
}
@media only screen and (max-width: 380px) {
    .rev-corousel-wrapper{
        gap: 10px;
    }
  }