body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* body, html {
  height: 100%;
  margin: 0;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --sepia: rgb(255, 255, 213);; /* Define the variable */
}
@font-face {
  font-family: "NothingYouCouldDo";
  src: local("NothingYouCouldDo"),
   url("./fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf") format("truetype");
  }
@font-face {
  font-family: "Heebo";
  src: local("Heebo"),
   url("./fonts/Heebo/static/Heebo-Regular.ttf") format("truetype");
  }
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url('./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  /* You can add additional font formats (e.g., woff, woff2) for better cross-browser compatibility */
}
@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url('./fonts/Work_Sans/static/WorkSans-Regular.ttf') format('truetype');
  /* You can add additional font formats (e.g., woff, woff2) for better cross-browser compatibility */
}
